* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list {
    display: flex;

    .date {
        font-weight: bold;
    }
    .nameList {
        margin-left: 10rem;
        .leaderName {
            display: flex;
        }
    }

    .date,
    .leaderName {
        line-height: 3;
    }
}